@import 'partials/reset';

$primary_color: #1995AD;
$secondary_color: #A1D6E2;
$tertiary_color: #BCBABE;
$quaternary_color: #F1F1F2;

$primary_font: 'Muli', sans-serif;
$secondary_font: 'PT Sans', sans-serif;

section {
  height: 100%;
}

nav {
  height: 8.5%;
  padding: 0 2%;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  z-index: 100;

  div {
    margin-top: 1.5%;
  }

  ul a:hover {
    background-color: $primary_color;
    text-decoration: underline;
  }

  h1 {
    font-size: 150%;
    font-family: $primary_font;
  }
}

header {
  height: 93vh;
  margin-top: 4%;
  background-image: url('images/background.gif');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  h2 {
    font-size: 300%;
    margin: 10px 0px;
    text-shadow: 2px 2px 3px black;
  }

  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px black;
  }

  #technology-target {
    bottom: -1%;
    position: absolute;
    height: 8%;
    width: 8%;
  }
}

#technologies {

  margin-bottom: 10%;
  height: 100%;
  text-align: center;
  position: relative;

  h2 {
    margin: 3% 0;
    font-size: 200%;
    text-align: center;
  }

  p {
    margin: 2% 0;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  i {
    margin-top: 35%;
    font-size: 100px;
  }

  .devicon-atom-original {
    color: white;
    background: limegreen;
    border-radius: 100%;
  }

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about-target {
    position: absolute;
    height: 8%;
    width: 8%;
    bottom: -24%;
  }
}

#about {

  background-color: $secondary_color;
  height: 95vh;
  text-align: center;
  font-size: 1.7vh;
  position:relative;

  h2 {
    padding-top: 3%;
    font-size: 200%;
    text-align: center;
    font-family: $secondary_font
  }

  h3 {
    font-size: 150%;
  }

  #about-me {
    margin-top: 3%;
    width: 80%;
  }

  img {
    float: left;
    margin-left: 10%;
  }

  article {
    position: relative;
    right: 35%;
  }

  span {
    position: absolute;
    margin-top: 1%;
  }

  .paragraphs {
    margin-right: 15%;

    p {
      text-align: left;
    }
  }

  .experience {
    width: 60%;
    right: -50%;

    .bullets {
      margin-top: 1.5%;
      line-height: 1.6;
    }

    li {
      text-align: left;
    }

    li::before {
      content: "• ";
    }
  }

  .education {
    position: absolute;
    right: 15%;
    width: 40%;
    top: 40vh;

    p {
      margin-top: 2%;
      text-align: left;
    }
  }

  h4 {
    font-size: 125%;
    text-align: left;
  }

  h5 {
    float: left;
    font-style: italic;
  }

  h6 {
    float: right;
  }

  .titles {
    margin-top: 2%;
    line-height: 1.5;
  }

  p {
    line-height: 1.3;
  }

  #portfolio-target {
    bottom: 1.3%;
    position: absolute;
    height: 8%;
    width: 8%;
  }

}

#portfolio {
  background-color: $quaternary_color;
  height: 95vh;
  font-size: 95%;
  position:relative;

  h2 {
    padding-top: 3%;
    font-size: 200%;
    text-align: center;
    font-family: $secondary_font
  }

  .row {
    margin-top: 3%;
    display: flex;
    justify-content: center;
  }

  .col {
    margin: 0 2%;
  }

  .card-content {
    line-height: 1.5;
  }

  #contact-target {
    bottom: 1%;
    position: absolute;
    height: 8%;
    width: 8%;
  }
}

#contact {
  background-color: $secondary_color;
  height: 92vh;
  font-size: 95%;
  position:relative;
  font-family: $secondary_font;
  color: #000066;

  h2 {
    padding-top: 3%;
    font-size: 200%;
    text-align: center;
  }

  h3 {
    font-size: 150%;
    text-align: center;
    padding-top: 2%;

  }

  #contact-form {
    margin: 0 auto;
    margin-top: 2%;
    width: 70vw;
    padding: 2.5% 3%;
    border-radius: 10px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 1);
    background: $quaternary_color;
  }

  label {
    color: darkblue;
  }

  textarea {
    margin-top: 2%;
    resize: none;
    height: 25vh;
    margin-bottom: 1%;
  }

  button {
    height: 2.5vh;
    width: 3vw;
    background-color: $primary_color;
    color: #fff;
    border-radius: 2px;
    text-decoration: none;
    font-size: 12px;
    font-weight: normal;
    cursor:pointer;
  }
}

body {
  font-family: $primary_font;
  background: $quaternary_color;

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary_font;
  }
}
