@import 'partials/reset';

$primary_color: #1995AD;
$secondary_color: #A1D6E2;
$tertiary_color: #BCBABE;
$quaternary_color: #F1F1F2;

$primary_font: 'Muli', sans-serif;
$secondary_font: 'Nunito', sans-serif;

section {
  height: 100%;
}

nav {
  height: 8.5%;
  padding: 0 2%;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top:0;
  left:0;
  z-index: 100;

  ul a:hover {
    background-color: $primary_color;
    text-decoration: underline;
  }

  h1 {
    font-size: 150%;
    font-family: $primary_font;
  }
}

header {
  height: 93vh;
  margin-top: 4%;
  background-image: url('images/background.gif');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  h2 {
    font-size: 300%;
    margin: 10px 0px;
    text-shadow: 2px 2px 3px black;
  }

  h3 {
    font-size: 200%;
    text-shadow: 2px 2px 3px black;
  }

  #technology-target {
    bottom: -1%;
    position: absolute;
    height: 8%;
    width: 8%;
  }
}

#technologies {

  margin-bottom: 10%;
  height: 100%;
  text-align: center;
  position: relative;

  h2 {
    margin: 3% 0;
    font-size: 200%;
    text-align: center;
  }

  p {
    margin: 2% 0;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  i {
    margin-top: 35%;
    font-size: 100px;
  }

  .devicon-atom-original {
    color: white;
    background: limegreen;
    border-radius: 100%;
  }

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #about-target {
    position: absolute;
    height: 8%;
    width: 8%;
    bottom: -24%;
  }
}

#about {

  background-color: $secondary_color;
  height: 93vh;
  text-align: center;

  h2 {
    font-size: 200%;
    text-align: center;
    font-family: $secondary_font
  }

  img {

  }

  article {
    position: relative;
  }

  p {
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
  }

}

body {
  font-family: $primary_font;
  background: $quaternary_color;

  h1, h2, h3, h4, h5, h6 {
    font-family: $secondary_font;
  }
}
